#music_player{
    position: fixed;
    top: 93%;
    left: 0;
    width: 15%;
    z-index: 1000;
}

@media (max-width: 1170px){
    #music_player{
        position: fixed;
        top: 92%;
        left: 0;
        width: 15%;
        z-index: 1000;
    }
}