@import 'navbar';
@import 'layout';

.screen{
    width: 850px;
    display: flex;
    justify-content: center;
    font-size: 200px;
    color: #034EFC;
    font-family: 'Roboto';
}

.buttons{
  display: flex;
  width: 850px;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}


#border{
  position: relative;
  outline: 10px solid #034EFC;
  border-radius: 5px;
  width: 850px;
  height: 230px;
}

.stopwatchControls{
  width: 50px;
}

.stopwatchControls:hover{
  cursor: pointer;
}

#start:hover{
  cursor: pointer;
}


@media (max-width: 1170px){
.screen{
  width: 600px;
  display: flex;
  justify-content: center;
  font-size: 150px;
  color: #034EFC;
  font-family: 'Roboto';
}

.buttons{
display: flex;
width: 600px;
justify-content: center;
margin-top: 60px;
gap: 30px;
}

.stopwatchControls{
  width: 70px;
}


#border{
position: relative;
outline: 10px solid #034EFC;
border-radius: 5px;
width: 600px;
height: 180px;
}

}