@import 'navbar';
@import 'layout';

.screen{
    margin-left: 5%;
    font-size: 200px;
    color: #034EFC;
    font-family: 'Roboto';
}

.buttons{
  display: flex;
  width: 560px;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}


#border{
  position: relative;
  outline: 10px solid #034EFC;
  border-radius: 5px;
  width: 560px;
  height: 230px;
}

.stopwatchControls{
  width: 50px;
}

.stopwatchControls:hover{
  cursor: pointer;
}

#start:hover{
  cursor: pointer;
}