
  form{
    margin-left: 50px;
    top: 70px;
    position: absolute;
    line-height: 50px;
  }
  
  label{
    margin-bottom: 10px;
    display: block;
    line-height: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }

.field {
    font-family: 'Raleway', sans-serif;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    color: #4d4d4d;
    display: block;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color .25s linear;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    height: 40px;
}


#submit-button{
    width: 100%;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    border: none;
    background-color: #034EFC;
    color: white;
    font-weight: bold;
}

::placeholder{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: #C4C4C4;
}

